<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand mb-0 h1" href="#"><img src="https://www.freepnglogos.com/uploads/counter-strike-png-logo/counter-strike-symbol-png-logo-11.png" width="110" height="60" alt=""></a>
  <div class="navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/team-service" class="nav-link" routerLinkActive="active" style="font-weight: bold">Teams</a>
      </li>
      <li class="nav-item">
        <a routerLink="/player-service" class="nav-link" routerLinkActive="active" style="font-weight: bold">Players</a>
      </li>
      <li class="nav-item">
        <a routerLink="/result-service" class="nav-link" routerLinkActive="active" style="font-weight: bold">Results</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>  